<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CampRatingReviewMapper">
	
	<resultMap id="RatingReviewSelectMap" type="ratingReview">
		<result property="camp.campNo"					 	column="camp_no" 					jdbcType="NUMERIC"/>
		<result property="camp.user.campName"				column="camp_name" 					jdbcType="VARCHAR"/>
		<result property="camp.user.campName"				column="cname" 						jdbcType="VARCHAR"/>
		<result property="auctionProduct.auctionProductNo"	column="product_no" 				jdbcType="CHAR"/>
		<result property="user.id" 							column="user_id" 					jdbcType="VARCHAR"/>
		<result property="user.role" 						column="role"	 					jdbcType="VARCHAR"/>
		<result property="user.nickName" 					column="nick_name"	 				jdbcType="VARCHAR"/>
		<result property="ratingReviewNo" 					column="rating_review_no" 			jdbcType="NUMERIC"/>
		<result property="ratingReviewStatus"				column="rating_review_status" 		jdbcType="NUMERIC"/>
		<result property="ratingReviewTitle"				column="rating_review_title" 		jdbcType="VARCHAR"/>
		<result property="ratingReviewContent"				column="rating_review_content" 		jdbcType="VARCHAR"/>
		<result property="reviewRegDate" 					column="review_reg_date" 			jdbcType="DATE"/>
		<result property="comment" 							column="comment" 					jdbcType="VARCHAR"/>
		<result property="commentRegDate"					column="comment_reg_date" 			jdbcType="DATE"/>
		<result property="statusRating" 					column="status_rating" 				jdbcType="FLOAT"/>
		<result property="priceRating" 						column="price_rating" 				jdbcType="FLOAT"/>
		<result property="kindnessRating" 					column="kindness_rating" 			jdbcType="FLOAT"/>
		<result property="avgRating" 						column="avg_rating" 				jdbcType="FLOAT"/>
		<result property="img1" 							column="review_img1" 				jdbcType="VARCHAR"/>
		<result property="img2" 							column="review_img2" 				jdbcType="VARCHAR"/>
		<result property="img3" 							column="review_img3" 				jdbcType="VARCHAR"/>
		<result property="reviewDeleteFlag" 				column="review_delete_flag" 		jdbcType="CHAR"/>
		<result property="commentDeleteFlag" 				column="comment_delete_flag" 		jdbcType="CHAR"/>
	</resultMap>
	
	<insert id="addCampRatingReview" parameterType="ratingReview" >
		INSERT INTO RATING_REVIEW
					(user_id, camp_no, product_no, rating_review_status, rating_review_title, rating_review_content, review_reg_date, 
					 status_rating, review_img1, review_img2, review_img3)
		VALUES(#{user.id}, #{camp.campNo:NUMERIC}, #{auctionInfo.auctionProductNo:CHAR}, #{ratingReviewStatus}, #{ratingReviewTitle:VARCHAR}, 
		       #{ratingReviewContent}, NOW(), #{statusRating}, #{img1:VARCHAR}, #{img2:VARCHAR}, #{img3:VARCHAR});
	</insert>
	
	<select id="listCampRatingReview" parameterType="search" resultMap="RatingReviewSelectMap">
		SELECT r.rating_review_no, r.user_id, r.camp_no, r.product_no, r.rating_review_status, r.rating_review_title, r.rating_review_content, 
			   r.review_reg_date, r.comment, r.comment_reg_date, r.status_rating, r.review_img1, r.review_img2, r.review_img3, u.nick_name, cn.cname 
		FROM RATING_REVIEW r, USERS u, 
			(SELECT u.camp_name cname
			 FROM USERS u, CAMP c
			 WHERE u.user_id = c.user_id AND c.camp_no = #{campNo}) cn
		WHERE u.user_id = r.user_id AND r.review_delete_flag = 'N' AND r.camp_no = #{campNo}
			  
		<trim prefix="ORDER BY">
            <if test="sortCondition != null ">
               <if test='sortCondition.equals("평점 높은순")'>
                  r.status_rating DESC
               </if>
               <if test='sortCondition.equals("최근 등록일순")'>
                  r.review_reg_date DESC
               </if>
            </if>
         </trim>
		LIMIT #{pageSize} offset #{offset}
	</select>
	
	<select id="listMyRatingReview" parameterType="search" resultMap="RatingReviewSelectMap">
		SELECT r.rating_review_no, r.user_id, r.camp_no, r.product_no, r.rating_review_status, r.rating_review_title, r.rating_review_content, 
			   r.review_reg_date, r.comment, r.comment_reg_date, r.status_rating, r.review_img1, r.review_img2, r.review_img3, u.camp_name, un.nick_name 
		FROM RATING_REVIEW r, USERS u, CAMP c, 
			 (SELECT nick_name 
			  FROM USERS
			  WHERE user_id = #{id}) un
		WHERE r.review_delete_flag = 'N' and r.camp_no = c.camp_no and c.user_id = u.user_id 
		AND r.user_id = #{id} AND r.camp_no IS NOT NULL
			  
		<trim prefix="ORDER BY">
            <if test="sortCondition != null ">
               <if test='sortCondition.equals("평점 높은순")'>
                  r.status_rating DESC
               </if>
               <if test='sortCondition.equals("최근 등록일순")'>
                  r.review_reg_date
               </if>
            </if>
         </trim>
		LIMIT #{pageSize} offset #{offset}
	</select>
		
	<select id="getCampRatingReview" parameterType="int" resultMap="RatingReviewSelectMap">
		SELECT rating_review_no, user_id, camp_no, product_no, rating_review_status, rating_review_title, rating_review_content, 
	   		   review_reg_date, comment, comment_reg_date, status_rating, review_img1, review_img2, review_img3 
		FROM RATING_REVIEW
		WHERE rating_review_no = #{value}
	</select>
	
	<select  id="getTotalCount"  parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM(SELECT rating_review_no
			 FROM RATING_REVIEW
			 WHERE review_delete_flag = 'N' 
				   <if test="campNo != null and campNo != 0">
				  	AND camp_no = #{campNo}
				  </if>	  
				  <if test="id != null">
					AND user_id = #{id} AND camp_no IS NOT NULL	  
				  </if>) countTable
	</select>
		
	<select id="getCampRating" parameterType="int" resultType="Double">
		SELECT status_rating
		FROM RATING_REVIEW
		WHERE camp_no = #{value} AND review_delete_flag = 'N'
	</select>
	
 	<update id="updateCampAvgRating" parameterType="map">
		UPDATE CAMP
		SET camp_rating= #{avgRating}
		WHERE camp_no = #{campNo};
	</update>
	
	<update id="updateCampRatingReview" parameterType="ratingReview">
		UPDATE RATING_REVIEW
		<trim prefix="SET" suffixOverrides=",">
			<if test="reviewDeleteFlag != null">
				review_delete_flag = #{reviewDeleteFlag},
			</if>
			<if test="comment != null and comment != ''">
				comment = #{comment:VARCHAR},
				comment_reg_date = NOW(),
			</if>
			<if test="ratingReviewTitle != null and ratingReviewTitle != ''">
				rating_review_title = #{ratingReviewTitle:VARCHAR},
			</if>
			<if test="ratingReviewContent != null and ratingReviewContent != ''">
				rating_review_content = #{ratingReviewContent:VARCHAR},
			</if>
			<if test="statusRating != null and statusRating != 0.0">
				status_rating = #{statusRating},
			</if>
		</trim>		
		WHERE rating_review_no = #{ratingReviewNo}
	</update>
	
	<update id="deleteCampRatingReviewComment" parameterType="ratingReview">
		UPDATE RATING_REVIEW
		SET  comment = NULL, comment_reg_date = NULL
		WHERE rating_review_no = #{ratingReviewNo}
	</update>

</mapper>