<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommunityMapper">

	<resultMap id="postMapper" type="post">
		<result property="postTitle"    	 column="post_title"       jdbcType="VARCHAR"/>
		<result property="postNo"	   		 column="post_no" 	       jdbcType="NUMERIC" />
		<result property="postContent"       column="post_content"     jdbcType="VARCHAR" />
		<result property="writer.id"  		 column="user_id" 	       jdbcType="VARCHAR" />
		<result property="postType"    		 column="post_type"        jdbcType="NUMERIC" />
		<result property="postRegdate" 	     column="post_reg_date"    jdbcType="VARCHAR" />
		<result property="video"    		 column="video" 		   jdbcType="VARCHAR"/>
		<result property="deleteFlag"	     column="delete_flag" 	   jdbcType="CHAR" />
		<result property="postImg1"  		 column="post_Img1" 	   jdbcType="VARCHAR" />
		<result property="postImg2"    		 column="post_Img2" 	   jdbcType="VARCHAR" />
		<result property="postImg3" 	   	 column="post_Img3" 	   jdbcType="VARCHAR" />
		<result property="hashtag1" 	   	 column="post_hashtag1"    jdbcType="VARCHAR" />
		<result property="hashtag2" 		 column="post_hashtag2"    jdbcType="VARCHAR" />
		<result property="hashtag3"  		 column="post_hashtag3"    jdbcType="VARCHAR" />
	 	<result property="postConcernCount"  column="con_num" 		   jdbcType="NUMERIC" /> 
		<result property="commentTotalCount" column="com_num" 		   jdbcType="NUMERIC" />
		<result property="conDeleteFlag"	 column="con_deleteFlag"   jdbcType="NUMERIC" />		
		<result property="commentContent"	 column="comment_content"  jdbcType="VARCHAR" />		
	</resultMap>
	
	<resultMap id="commentMapper" type="comment">
		<result property="postNo.postNo"     column="post_no" 		   jdbcType="NUMERIC"/>
		<result property="commentNo"	  	 column="comment_no" 	   jdbcType="NUMERIC" />
		<result property="commentContent" 	 column="comment_content"  jdbcType="VARCHAR" />
		<result property="commentWriter.id"  column="user_id" 		   jdbcType="VARCHAR" />
		<result property="commentRegdate" 	 column="comment_reg_date" jdbcType="VARCHAR" />
		<result property="deleteFlag"	     column="delete_flag" 	   jdbcType="CHAR" />
	</resultMap>
	
	 <resultMap id="postConcernMapper" type="postConcern">
		<result property="countNo"    	  	 column="count_no" 		   jdbcType="NUMERIC"/>
		<result property="deleteFlag"	  	 column="delete_flag"  	   jdbcType="CHAR" />
		<result property="userId.id" 	 	 column="user_id"  		   jdbcType="VARCHAR" />
		<result property="postNo.postNo"  	 column="post_no" 		   jdbcType="NUMERIC" />
	 </resultMap> 
	
	
	<!-- SQL : INSERT -->
	<!-- 게시글 등록 -->
    <insert    id="addPost"      parameterType="post" >
      INSERT 
      INTO POST(user_id,post_type,post_title,post_content,post_Img1,post_Img2,post_Img3,post_hashtag1,post_hashtag2,post_hashtag3,video)
      VALUES    (#{writer.id}, #{postType}, #{postTitle:VARCHAR}, #{postContent:VARCHAR}, #{postImg1:VARCHAR}, #{postImg2:VARCHAR}, #{postImg3:VARCHAR}, #{hashtag1:VARCHAR}, #{hashtag2:VARCHAR}, #{hashtag3:VARCHAR}, #{video:VARCHAR})                                     
    </insert>

	<!-- 댓글 등록 -->	 
    <insert    id="addComment"      parameterType="comment" >
      INSERT 
      INTO COMMENT(post_no,user_id,comment_content)
      VALUES    (#{postNo.postNo}, #{commentWriter.id}, #{commentContent:VARCHAR})                                      
    </insert>	 	 
 	 
	<!-- 추천 등록 중복된 값이 있을 경우 INSERT되지않는다. -->
  	<insert    id="addConcern"      parameterType="hashmap" >
    INSERT INTO POST_CONCERN (post_no, user_id)
	SELECT #{postNo}, #{userId}
	FROM DUAL
	WHERE NOT EXISTS (SELECT post_no, user_id 
					  FROM POST_CONCERN
					  WHERE post_no = #{postNo}
					  AND user_id = #{userId} )                                   
    </insert>
    	 
    <!-- SQL : SELECT --> 	 
    <!-- 게시글 상세 조회--> 	 

	 <select 	id="getPost"	parameterType="int"	resultMap="postMapper">
	  SELECT
	  post_no , user_id , post_type , post_title , post_content, post_reg_date, post_Img1, post_Img2, post_Img3, post_hashtag1, post_hashtag2, post_hashtag3, video, delete_flag
	  FROM  GAMSUNG.POST
      WHERE post_no = #{value}
	 </select>
	 
    <!-- 게시글 List 조회 list를 가지고 올때 해당 user_id에 대한 post_no 값이 concern table에 있으면 하트를 컬러로 표출한다.--> 	 
    
	<select  id="listPost"  parameterType="hashmap"	resultMap="postMapper">
	SELECT S.* 
	FROM (SELECT @rownum:= @rownum+1 AS R , P.* 
		FROM (SELECT p.*,com.com_num,con.con_num, CASE WHEN cop.flag = 'Y' THEN 'Y'
		                                          WHEN cop.flag = 'N' THEN 'N'
		                                          ELSE 'Y' END AS con_deleteFlag
			  FROM POST p LEFT JOIN (SELECT CO.post_no, count(*) com_num
									 FROM (SELECT *
	  									   FROM COMMENT 
	  									   WHERE delete_flag = 'N') CO
									  GROUP BY CO.post_no)	com <!-- 게시물당 코멘트 총 수  -->
			  ON p.post_no = com.post_no 
						  LEFT JOIN (SELECT PO.post_no, count(*) con_num
									 FROM (SELECT *
	  									   FROM POST_CONCERN  
	  								       WHERE delete_flag = 'N') PO
	                                 GROUP BY PO.post_no) con <!-- 게시물당 추천 총 수  -->
			  ON p.post_no = con.post_no	
			  			 LEFT JOIN (SELECT post_no, delete_flag flag
						            FROM POST_CONCERN  pc
						            WHERE pc.user_id =#{userId}
						          	) cop  <!-- 회원의 게시물 추천 유무 Y는 빈하트 표출   -->
			   ON p.post_no = cop.post_no			            								
	  		  WHERE p.delete_flag = 'N' 
	  		  <if test="post.postType != null and post.postType != 0">		
	  		  AND p.post_type = #{post.postType}
	  		  </if>
			      <if test="search.searchCondition != null">		
				    <trim prefix="AND">
						<if test="search.searchCondition == 0 and search.searchKeyword !='' "> 
						<!--작성자id -->
							p.user_id LIKE CONCAT_WS(#{search.searchKeyword},'%','%')		
						</if>
						<if test="search.searchCondition == 1 and search.searchKeyword !='' "> 
						<!-- 게시글 제목 -->
						<!-- 	MATCH(post_title) AGAINST (concat_ws(#{search.searchKeyword},'*','*')in boolean mode) -->
						    p.post_title LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
						</if>
						<if test="search.searchCondition == 2 and search.searchKeyword !='' "> 
						<!-- 게시글 번호 -->
							p.post_no = #{search.searchKeyword}
						</if>
						<if test="search.searchCondition == 3 and search.searchKeyword !='' ">
						<!-- 내용 -->
							<!-- MATCH(p.post_content) AGAINST (concat_ws(#{search.searchKeyword},'*','*')in boolean mode) -->
							p.post_content LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
						</if>
						<if test="search.searchCondition == 4 and search.searchKeyword !='' ">
						<!--해시태그  -->
							   p.post_hashtag1 LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
	  						OR p.post_hashtag2 LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
	  						OR p.post_hashtag3 LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
						</if>
					</trim>
				</if>
				ORDER BY p.post_no DESC) P, (select @rownum:= 0) M
				WHERE @rownum  <![CDATA[ <=]]> #{search.endRowNum} ) S
				WHERE R BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select> 	 
	 
	 <select  id="MylistPost"  parameterType="hashmap"	resultMap="postMapper">
	SELECT S.* 
	FROM (SELECT @rownum:= @rownum+1 AS R , P.* 
		FROM (SELECT *	 
         	  FROM POST
	  		  WHERE delete_flag = 'N' 	
	  		  AND user_id = #{userId}
			      <if test="search.searchCondition != null">		
				    <trim prefix="AND">
						<if test="search.searchCondition == 1 and search.searchKeyword !='' "> 
						<!-- 게시글 제목 -->
						<!-- 	MATCH(post_title) AGAINST (concat_ws(#{search.searchKeyword},'*','*')in boolean mode) -->
						    post_title LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
						</if>
						<if test="search.searchCondition == 3 and search.searchKeyword !='' ">
						<!-- 내용 -->
							<!-- MATCH(p.post_content) AGAINST (concat_ws(#{search.searchKeyword},'*','*')in boolean mode) -->
							post_content LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
						</if>
						<if test="search.searchCondition == 4 and search.searchKeyword !='' ">
						<!--해시태그  -->
							   post_hashtag1 LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
	  						OR post_hashtag2 LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
	  						OR post_hashtag3 LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
						</if>
					</trim>
				</if>
				ORDER BY post_no DESC) P, (select @rownum:= 0) M
				WHERE @rownum  <![CDATA[ <=]]> #{search.endRowNum} ) S
				WHERE R BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	 </select> 	 
	 
	 	<!-- 추천 여부-->
	<select  id="ConcernFlag"  parameterType="postConcern"	resultMap="postConcernMapper">
		SELECT delete_flag
		FROM POST_CONCERN
		WHERE post_no= #{postNo.postNo} AND user_id = #{userId.id}
	</select> 
	 
	 
	 
    <!-- 댓글 list  조회--> 	 
 	 
	<select  id="listComment"  parameterType="int"	resultMap="commentMapper">
	SELECT * 
	FROM COMMENT
	WHERE delete_flag = 'N' AND post_no= #{value}
	ORDER BY comment_reg_date
	 </select> 
	 
    <!-- SQL : UPDATE --> 	 
    <!-- 게시물 수정 --> 	 

	<update	id="updatePost"	parameterType="post" >
	UPDATE POST
	   	<set>
	   		post_title= #{postTitle:VARCHAR},
	   		post_no= #{postNo},
	   		post_content= #{postContent},
	   		user_id= #{writer.id},
	   		post_type= #{postType},
	   		post_reg_date=#{postRegdate},
	   		video= #{video},
	   		delete_flag= #{deleteFlag},
   		<if test="postImg1 != null and postImg1 != ''">
	   		post_Img1= #{postImg1},
	   		post_Img2= #{postImg2},
	   		post_Img3= #{postImg3},
   		</if>
	   		post_hashtag1= #{hashtag1},
	   		post_hashtag2= #{hashtag2},
	   		post_hashtag3= #{hashtag3}
	   	</set>
	   	WHERE post_no = #{postNo}
	 </update>
	 
    <!-- 게시물 삭제 그에 딸린 댓글들도 delete_flags를 Y 설정해줘야한다. 내 댓글 보기에서 안보이게 하려면 --> 	 
 	<update	id="deletePost"	parameterType="int" >
	 UPDATE POST P LEFT JOIN COMMENT C
	 ON (P.post_no = C.post_no ) 
		<set> 
	 		P.delete_flag = 'Y', C.delete_flag = 'Y' 
		</set>
		WHERE P.post_no = #{value}
	 </update>

	<!-- 게시물 블라인드 처리 관리자일 경우 가능하다.--> 	 	 
	<update	id="blindPost"	parameterType="int" >
	 UPDATE POST P RIGHT JOIN COMMENT C
	 ON (P.post_no = C.post_no )  
		<set> 
	 		P.delete_flag = 'X', C.delete_flag = 'X' 
		</set>
		WHERE P.post_no = #{value}
	 </update>

	<!-- 댓글 수정  앞단에서 수정버튼을 user만 보이게끔 설정하기때문에 where 조건에는 댓글번호만 가지고 오면된다. -->	 
	 
	<update	id="updateComment"	parameterType="comment" >
		 UPDATE COMMENT
	   	<set>
	   		comment_content= #{commentContent},
	   	</set>
	   	WHERE comment_no = #{commentNo}
	 </update>
	 
	<!-- 댓글 삭제-->
	
    <update	id="deleteComment"	parameterType="int" >
	   	UPDATE COMMENT
	   	<set>
	   		delete_flag= 'Y'
	   	</set>
	   	WHERE comment_no= #{commentNo}
	 </update>
	 
	<!-- 댓글 블라인드 처리 관리자일 경우 가능하다. -->
	<update	id="blindComment"	parameterType="int" >
	   	UPDATE COMMENT
	   	<set>
	   		delete_flag= 'X'
	   	</set>
	   	WHERE comment_no= #{commentNo}
	</update>


   <!-- 추천 해제 table에 postNo값이 등록이 되어있어야 헤재도 된다. -->   
	<!-- <update	id="deleteConcern"	parameterType="hashmap" >
	   	UPDATE POST_CONCERN
	   	<set>
	   		delete_flag = 'Y'
	   	</set>
	   	WHERE post_no= #{postNo} AND user_id = #{userId}
	 </update>  -->
	 
	 <delete id="deleteConcern" parameterType="hashmap"  >
	 	 DELETE FROM POST_CONCERN
		 WHERE user_id = #{userId}
 		 AND post_no = #{postNo}
	 </delete>
	 
	    <!-- 총 댓글수를 update해준다.-->
	<!-- 코멘트 번호가 해당 번호일때의 포스트 정보를 가지고 온다.  -->
 	<select  id="updatetotalComment"  parameterType="int"	resultMap="postMapper"> 	
		SELECT post_no,count(*) com_num
		FROM COMMENT
		WHERE post_no = (SELECT post_no
			   			 FROM COMMENT
			   			 WHERE comment_no = #{value})
	    AND delete_flag = 'n'
	 </select> 
	 
  	<select  id="updatetotalComment2"  parameterType="int"	resultMap="postMapper"> 	
	SELECT post_no,count(*) com_num
	FROM COMMENT
	WHERE post_no = #{value}
    AND delete_flag = 'n'
	 </select> 
	 
	 <!--나의 댓글리스트-->
<select id="listPostForComment" parameterType="search" resultMap="postMapper">
      SELECT S.* 
      FROM (SELECT @rownum:= @rownum+1 AS R , PC.* 
            FROM (SELECT p.*, c.comment_content comment_content
                  FROM POST p, COMMENT c
                  WHERE c.user_id = #{id}
                  AND p.post_no = c.post_no) PC, (select @rownum:= 0) M
            WHERE @rownum  <![CDATA[ <=]]> #{endRowNum} ) S
            WHERE R BETWEEN #{startRowNum} AND #{endRowNum} 
   </select> 
	 
	<!-- 총 추천수를 update해준다.-->
	<!-- 코멘트 번호가 해당 번호일때의 포스트 정보를 가지고 온다.  -->
 	<!-- <select  id="UpdatetotalConcern"  parameterType="int"	resultMap="postMapper"> 	
	select p.*
	from POST p, POST_CONCERN CON
	where p.post_no = con.post_no
	and con.count_no = #{value}
	 </select> --> 	 
	 
	 
	 
   <!-- 총 추천수 -->
<!-- 	<select  id="totalConcern"  parameterType="int"	resultType="int">
	SELECT count(*) 
	FROM post_concern 
	WHERE post_no= #{value} and delete_flag  = 'Y';
	 </select> -->

   <!-- 총 댓글수-->
<!-- 	<select  id="totalComment"  parameterType="int"	resultType="int">
	SELECT count(*) 
	FROM comment
	WHERE post_no= #{value} and delete_flag = 'N';
	 </select>  -->
	 
	 <select id="totalConcern" parameterType="int" resultType="int">
	 	SELECT count(*) 
	 	FROM POST_CONCERN 
	 	WHERE post_no = #{value}
	 	AND delete_flag = 'N'; 
	 </select>
	 
	 <select id="getTotalPost" parameterType="hashmap" resultType="int">
	 	SELECT count(*) 
	 	FROM (SELECT p.*,com.com_num,con.con_num, CASE WHEN cop.flag = 'Y' THEN 'Y'
		                                          WHEN cop.flag = 'N' THEN 'N'
		                                          ELSE 'Y' END AS con_deleteFlag
			  FROM POST p LEFT JOIN (SELECT CO.post_no, count(*) com_num
									 FROM (SELECT *
	  									   FROM COMMENT 
	  									   WHERE delete_flag = 'N') CO
									  GROUP BY CO.post_no)	com <!-- 게시물당 코멘트 총 수  -->
			  ON p.post_no = com.post_no 
						  LEFT JOIN (SELECT PO.post_no, count(*) con_num
									 FROM (SELECT *
	  									   FROM POST_CONCERN  
	  								       WHERE delete_flag = 'N') PO
	                                 GROUP BY PO.post_no) con <!-- 게시물당 추천 총 수  -->
			  ON p.post_no = con.post_no	
			  			 LEFT JOIN (SELECT post_no, delete_flag flag
						            FROM POST_CONCERN pc
						            WHERE pc.user_id =#{userId}
						          	) cop  <!-- 회원의 게시물 추천 유무 Y는 빈하트 표출   -->
			   ON p.post_no = cop.post_no			            								
	  		  WHERE p.delete_flag = 'N' 
	  		  <if test="userId != null">		
	  		  AND p.user_id = #{userId}
	  		  </if>
	  		  <if test="post.postType != null and post.postType != 0">		
	  		  AND p.post_type = #{post.postType}
	  		  </if>
			      <if test="search.searchCondition != null">		
				    <trim prefix="AND">
						<if test="search.searchCondition == 0 and search.searchKeyword !='' "> 
						<!--작성자id -->
							p.user_id LIKE CONCAT_WS(#{search.searchKeyword},'%','%')		
						</if>
						<if test="search.searchCondition == 1 and search.searchKeyword !='' "> 
						<!-- 게시글 제목 -->
						<!-- 	MATCH(post_title) AGAINST (concat_ws(#{search.searchKeyword},'*','*')in boolean mode) -->
						    p.post_title LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
						</if>
						<if test="search.searchCondition == 2 and search.searchKeyword !='' "> 
						<!-- 게시글 번호 -->
							p.post_no = #{search.searchKeyword}
						</if>
						<if test="search.searchCondition == 3 and search.searchKeyword !='' ">
						<!-- 내용 -->
							<!-- MATCH(p.post_content) AGAINST (concat_ws(#{search.searchKeyword},'*','*')in boolean mode) -->
							p.post_content LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
						</if>
						<if test="search.searchCondition == 4 and search.searchKeyword !='' ">
						<!--해시태그  -->
							   p.post_hashtag1 LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
	  						OR p.post_hashtag2 LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
	  						OR p.post_hashtag3 LIKE CONCAT_WS(#{search.searchKeyword},'%','%')
						</if>
					</trim>
				</if>
				ORDER BY p.post_reg_date DESC) POSTTABLE
	 </select>
	 
	 <select id="getTotalComment" parameterType="search" resultType="int">
	 	SELECT count(*) 
	 	FROM (SELECT p.*, c.comment_content comment_content
              FROM POST p, COMMENT c
              WHERE c.user_id = #{id}
              AND p.post_no = c.post_no) commentTable
	 </select>
	 
</mapper> 