<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  						
<!--	mybatis-config.xml :: MyBatis Framework  MetaData -->
<configuration>

	<!-- 기타 설정정보 :: [MyBatis_Home]/mybatis-3.2.1.pdf 참조 -->
	<settings>
		<setting name="callSettersOnNulls" value="false"/>
	</settings>	
	
	<!-- FQCN(Full Qualified Class Name) Alias(별칭관리) -->
	<typeAliases>
	
		 <typeAlias alias="map" type="java.util.Map" />
		 <typeAlias alias="auctionProduct" type="site.gamsung.service.domain.AuctionProduct" />
		 <typeAlias alias="auctionInfo" type="site.gamsung.service.domain.AuctionInfo" />

		 <typeAlias alias="user" type="site.gamsung.service.domain.User" />
		 <typeAlias alias="search" type="site.gamsung.service.common.Search" />	
		 <typeAlias alias="post" type="site.gamsung.service.domain.Post" />		 
		 <typeAlias alias="comment" type="site.gamsung.service.domain.Comment" />		 
		 <typeAlias alias="postConcern" type="site.gamsung.service.domain.PostConcern" />		
		 
		 <typeAlias alias="transfer" type="site.gamsung.service.domain.Transfer" />		
		 <typeAlias alias="receive" type="site.gamsung.service.domain.Receive" />		
		 		
		 <typeAlias alias="camp" type="site.gamsung.service.domain.Camp" />
		 <typeAlias alias="mainSite" type="site.gamsung.service.domain.MainSite" />
		 <typeAlias alias="subSite" type="site.gamsung.service.domain.SubSite" />
		 <typeAlias alias="payment" type="site.gamsung.service.domain.Payment" />
		 <typeAlias alias="paymentCode" type="site.gamsung.service.domain.PaymentCode" />
		 <typeAlias alias="siteProfit" type="site.gamsung.service.domain.SiteProfit" />
		 <typeAlias alias="pointTransfer" type="site.gamsung.service.domain.PointTransfer" />
		 
		 <typeAlias alias="notice" type="site.gamsung.service.domain.Notice" />
		 <typeAlias alias="qna" type="site.gamsung.service.domain.Qna" />
		 <typeAlias alias="report" type="site.gamsung.service.domain.Report" />
		 
		 <typeAlias alias="campReservation" type="site.gamsung.service.domain.CampReservation" />
		 <typeAlias alias="reservationStatistics" type="site.gamsung.service.domain.ReservationStatistics" />
		 <typeAlias alias="ratingReview" type="site.gamsung.service.domain.RatingReview" />

	</typeAliases>
	
	 <!-- SQL Definition :: file include -->
	 
	<mappers>

		<mapper resource="sql/UserMapper.xml"/>

 		<mapper resource="sql/CampSearchMapper.xml"/>
		<mapper resource="sql/CampReservationMapper.xml" />
		<mapper resource="sql/CampRatingReviewMapper.xml" />
		
 		<mapper resource="sql/CampBusinessMapper.xml"/>			
			
		<mapper resource="sql/PaymentMapper.xml"/>	
							
		<mapper resource="sql/AuctionInfoMapper.xml"/> 
		<mapper resource="sql/AuctionProductMapper.xml"/>
 		<mapper resource="sql/AuctionRatingReviewMapper.xml"/>

		<mapper resource="sql/CommunityMapper.xml"/>
		<mapper resource="sql/TransferMapper.xml"/> 
		<mapper resource="sql/ReceiveMapper.xml"/>		
	 	
 		<mapper resource="sql/NoticeMapper.xml"/>
 		<mapper resource="sql/QnaMapper.xml"/>
 		<mapper resource="sql/ReportMapper.xml"/>
 		
	</mappers>

</configuration>